* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body, ul {
    padding: 0;
    margin: 0;
}
body {
    border-top: 8px solid #f2ac04;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: lighter;
}
.gray-text {
    color: #ababab;
}
#logo, #logo-footer {
    position: relative;
    width: 245px;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: flex-end;
    padding-right: 35px;
    border-right: 1px solid grey;
}
header, #header-top {
    display: flex;
    flex-wrap: wrap;
}
#header-top {
    padding: 40px 0;
    width: 100%;
}
#logo::before, #logo::after, #logo-footer::before, #logo-footer::after {
    content: "";
    background: #f8d277;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: block;
    top: 0;
}
#logo::after, #logo-footer::after {
    background: #f2ac04;
    position: absolute;
    left: 15px;
    top: 0;
}
#logo::before, #logo-footer::before {
    background: #f8d277;
    position: absolute;
    left: 0;
}
#header-menu {
    width: 100%;
}
#container {
    max-width: 1000px;
    margin: auto;
}
#header-text {
    padding-left: 25px;
    font-size: 14px;
    text-align: left;
    color: #ababab;
}
#header-text h4{
    text-transform: uppercase;
    color: #f8d277;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}
header ul a {
    text-decoration: none;
    color: #ababab;
    padding: 10px 20px 10px 20px;
    margin-right: 50px;
    text-transform: uppercase;
    border: 1px solid transparent;
}
header ul a:hover {
    border-right: 1px solid #ababab;
    border-left: 1px solid #ababab;
    padding: 5px 20px 5px 20px;
}
header ul li:first-child a {
    padding-left: 0;
}
header ul li:first-child a:hover {
    border-left: 1px solid transparent;
}
.title {
    text-transform: uppercase;
    font-size: 12px;
    color: grey;
    font-family: sans-serif;
    margin-top: 40px;
}
#banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#banners > div { /*говорит что даём стили только первой строке блоков*/
    max-width: 50%;;
}
#banners img {
    max-width: 100%;
}
#banners .bn-left .wrap {
    margin-right: 15px;
    border: 1px solid grey;
    padding: 1px;
}
#banners .bn-right .wrap {
    margin-left: 15px;
}
#banners .bn-right .img-block {
    position: relative;
    height: 180px;
    overflow: hidden;
}
#banners .bn-right p {
    border-top: 1px solid black;
    margin-top: 5px;
    padding-top: 15px;
    font-size: 15px;
}
#banners i {
    color: #f2ac04;
    font-size: 26px;
}
#banners .slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
#banners .bn-right h3 {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 2vw;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
}
#content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0 0 0;
    border-top: 1px solid grey;
    padding: 30px 0 0 0;
}
.item {
    width: 33.33%;
}
#content .about, .contacts {
    padding: 0 40px;
}
#content .about {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
#content .item h2 {
    margin: 0 0 30px 0;
}
.news {
    padding-right: 10px;
}
.news .block-news {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px dashed grey;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.news .block-news h4 {
    margin: 0 0 5px 0;
}
.date-news span {
    color: #f2ac04;
    font-weight: bold;
    width: 100%;
    font-size: 22px;
}
.date-news {
    border-right: 1px solid grey;
    padding-right: 10px;
    text-align: center;
    margin-right: 10px;
}
.about {
    line-height: 24px;
}
.contacts > div {
    border-bottom: 1px dashed grey;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.contacts > div:last-child {
    border: none;
}
.contacts i {
    font-size: 25px;
    width: 15%;
    text-align: center;
    color: lightgrey;
}
.contacts span {
    width: 70%;
    color: grey;
}
.contacts > div:first-of-type span, .contacts > div:first-of-type + div span {
    font-weight: bold;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0 15px 0;
    border-top: 1px solid grey;
    margin-top: 25px;
}
#logo-footer {
    border-right: none;
    font-size: 20px;
    height: 60px;
    padding: 0;
    width: 150px;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 5px 0;
}
footer ul li {
    list-style: none;
}
footer ul li a {
    display: block;
    text-decoration: none;
    padding: 0px 10px;
    color: grey;
    border-right: 1px solid grey;
    text-transform: uppercase;
    font-size: 12px;
}
footer ul li:last-child a {
    border-right: none;
}
footer span {
    color:grey;
}