body, ul {
    padding: 0;
    margin: 0;
}
#logo {
    position: relative;
}
header {
    display: flex;
    flex-wrap: wrap;
}
#logo::before, #logo::after {
    content: "";
    background: #f8d277;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: block;
}
#logo::after {
    background: #f2ac04;
    position: absolute;
    top: 0;
    left: 20px;
}

#header-menu {
    width: 100%;
}
#content {
    max-width: 1000px;
    margin: auto;
    border: 1px solid grey;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
header ul a {
    text-decoration: none;
    color: grey;
    padding: 0 70px 0 0;
    text-transform: uppercase;
}
